.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--dimen-header-z-index);
  height: var(--dimen-header-height);
  width: 100%;
  display: flex;
  align-items: center;
}

.header svg,
.drawer svg {
  height: var(--dimen-icon-primary);
  width: var(--dimen-icon-primary);
}

.hamburgerIcon {
  padding: 18px 8px 12px 15px;
}

@media only screen and (min-width: 900px) {
  .hamburgerIcon {
    display: none;
  }
}

.title {
  margin-left: 15px;
  margin-right: auto;
}

.header {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.drawer {
  position: fixed;
  padding-top: 25px;
  top: var(--dimen-header-height);
  left: 0;
  z-index: var(--dimen-drawer-z-index);
  height: 100%;
  width: var(--dimen-drawer-width);
  transition: all 0.3s ease;
  /* FIXME */
  border-right: solid 1px var(--surface4);
}

@media only screen and (max-width: 900px) {
  .drawer {
    transform: translate(
      calc(-1.15 * var(--dimen-drawer-width)),
      calc(-1 * var(--dimen-header-height))
    );
  }

  .drawer[data-open='open'] {
    width: var(--dimen-drawer-width);
    min-width: var(--dimen-drawer-width);
    transform: translate(0px, calc(-1 * var(--dimen-header-height)));
  }
}

@media only screen and (min-width: 900px) {
  .drawer .closeNav {
    display: none;
  }
}

.drawer + main {
  transition: 0.3s ease;
  filter: blur(0px);
}

.drawer[data-open='open'] + main {
  filter: blur(4px);
  pointer-events: none;
}

.drawer ul {
  margin: 0;
  padding: 0;
}

.drawer button:focus,
.drawer button:hover,
.drawer a:hover,
.drawer a:focus {
  background-color: var(--surface3);
  color: var(--text1);
}

.drawer button,
.drawer a {
  display: block;
  width: 100%;
  text-align: left;
  padding: 15px;
}

.navGroup h6 {
  margin: 1rem 15px 0;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
}

.navGroup a {
  padding-left: 30px;
}
