@keyframes loading {
  0% {
    background-color: var(--color-animation-frame-1);
  }
  50% {
    background-color: var(--color-animation-frame-2);
  }
  100% {
    background-color: var(--color-animation-frame-3);
  }
}

.loadBar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--dimen-load-bar-height);
  width: 100%;
  z-index: var(--dimen-header-z-index);
  animation: loading 2s infinite;
}
