.container {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 0 16px 0 0;
  font-size: var(--dimen-font-regular);
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 32px;
  }
}

.image {
  height: 100%;
  width: var(--dimen-episode-list-item-size);
}

.title {
  flex: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 32px;
  }
  .title {
    -webkit-line-clamp: 3;
  }
}

.info {
  margin: 5px 0;
  color: var(--color-sub-title);
  font-size: 80%;
}


.info span {
  margin: 2px;
}

.queue svg {
  margin-top: 5px;
  fill: var(--color-accent-gray);
}

.queue:hover svg {
  fill: var(--color-accent-gray-hover);
}

.actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 15px;
}

@media only screen and (min-width: 600px) {
  .infoParent {
    display: flex;
    align-items: center;
    column-gap: inherit;
  }
  .info {
    font-size: var(--dimen-font-regular);
  }
  .actions {
    column-gap: 25px;
  }
}