.button {
  border-radius: 3px;
  font-size: var(--dimen-font-regular);
  display: inline-block;
  padding: 8px;
  background: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-accent);
  outline: 0;
}

button.button:focus,
button.button:hover,
button.button[data-is-subscribed='true'],
button.button[data-is-current='true'] {
  background-color: var(--color-accent);
  color: var(--color-background);
}

button.button[data-is-subscribed='true']:hover
button.button[data-is-current='true']:hover {
  background-color: transparent;
  color: var(--color-text);
}

.withIcon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid var(--color-accent);
}

.withIcon svg {
  fill: var(--color-accent);
  transition: transform 0.25s ease-out;
}

.withIcon:focus svg,
.withIcon:hover svg {
  fill: var(--color-background);
  transform: scale(1.4);
}