:root {
  --primary: #334963;
  --primaryDarker10: #2A3B50;
  --primaryDarker20: #1C2835;
  --primaryDarker30: #0E141B;
  --primaryLighter10: #4D6F93;
  --primaryLighter20: #6C8EB2;
  --primaryLighter30: #87A2C0;
  --primaryLighter40: #AFC1D5;
  --primaryLighter50: #CAD5E3;
  --primaryLighter60: #D7DFEA;
  --primaryLighter70: #E4EAF1;
  --primaryLighter80: #F2F5F8;
  --primaryLighter90: #FFFFFF;

  --secondary: #F9D95A;
  --secondaryDarker10: #F7CD26;
  --secondaryDarker20: #ECBF09;
  --secondaryDarker30: #D9AF0B;
  --secondaryDarker40: #C59F07;
  --secondaryDarker50: #B18F06;
  --secondaryDarker60: #9D7F06;
  --secondaryDarker70: #8A6F05;
  --secondaryDarker80: #765F04;

  --secondaryLighter10: #FBE489;
  --secondaryLighter20: #FCEDB0;
  --secondaryLighter30: #FEF6DB;
  --secondaryLighter40: #FEFAEB;

  --error: #D45549;
  --errorDarker10: #AB3428;
  --errorLighter10: #DC756A;
  --errorLighter20: #E8A29C;

  --success: #1B998B;
  --successDarker10: #15796E;
  --successLighter10: #25D0BC;
  --successLighter20: #52E0D0;
}
