:root {
  --brand-hue: 215;
  --brand-saturation: 97%;
  --brand-lightness: 59%;

  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);

  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);

  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: 0.02;

  --brand-dark: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);

  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5% 20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);

  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: 0.8;

  color-scheme: dark;

  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --text-dark-bg: var(--text1-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);

  --color-background: red;
  --color-accent: blue;
  --color-accent-hover: yellow;

  --color-background-dark: blue;
  --color-background-light: red;

  --color-background-search: green;

  --color-accent-gray: purple;
  --color-accent-gray-hover: orange;

  --color-text: violet;
  --color-sub-title: pink;
  --color-text-light: green;

  --color-animation-frame-1: var(--brand-light);
  --color-animation-frame-2: var(--brand);
  --color-animation-frame-3: var(--brand-dark);

  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;

  --dimen-header-z-index: 501;
  --dimen-header-height: 64px;

  --dimen-drawer-z-index: 500;
  --dimen-drawer-width: 240px;

  --dimen-font-largest: 40px;
  --dimen-font-larger: 24px;
  --dimen-font-primary: 20px;
  --dimen-font-regular: 16px;
  --dimen-font-secondary: 14px;
  --dimen-font-smallest: 12px;

  --dimen-icon-primary: 24px;
  --dimen-load-bar-height: 4px;

  --dimen-page-padding: 32px;

  --dimen-player-height: 96px;
  --dimen-player-z-index: 502;

  --dimen-podcast-info-padding: 32px 32px 0;
  --dimen-podcast-info-cover: 300px;
  --dimen-podcast-info-direction: row;

  --border-radius-control: 4px;
  --dimen-episode-list-item-size: 84px;
}

:root.light {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media only screen and (max-width: 600px) {
  :root {
    --dimen-episode-list-item-size: 100px;
    --dimen-player-height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --dimen-podcast-info-padding: 0;
    --dimen-podcast-info-cover: 100vw;
    --dimen-podcast-info-direction: column;
  }
}
