.externalLink {
  color: var(--color-accent);
}

.externalLink:hover {
  color: var(--color-accent-hover);
}

.externalLink > svg {
  vertical-align: middle;
  margin-left: 2px;
  fill: var(--color-accent);
}

.externalLink:hover > svg {
  fill: var(--color-accent-hover);
}

