.search {
  height: 100%;
}

.search input {
  height: 100%;
  outline: none;
  padding: 16px;
}

.results {
  margin: 0;
  max-height: 500px;
  overflow: auto;
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 400px;
  list-style: none;
  padding: 0;
}

.results li[data-highlighted='true'] {
  background-color: var(--surface-1);
}

.searchItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.searchItem img {
  height: 50px;
  width: 50px;
}

.searchItem div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  font-size: var(--dimen-font-smallest);
  overflow: hidden;
}

.searchItem p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchItem .title {
  font-weight: bold;
}

.searchItem .author {
  font-weight: 300;
}
