.container {
  --dimen-player-padding: 8px;
  --dimen-player-cover: var(--dimen-player-height);
  height: var(--dimen-player-height);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(calc(var(--dimen-player-height) * 2));
  z-index: var(--dimen-player-z-index);
}

.container[data-open='true'] {
  opacity: 1;
  transform: translateY(0);
}

.container button[disabled] {
  filter: opacity(0.6);
}

.player {
  background-color: var(--color-background);
  height: 100%;
  display: grid;
  grid: 28px auto / var(--dimen-player-cover) 1fr;
  position: relative;
  border-top: 1px solid var(--color-background-search);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
}

.imageCoverLink {
  display: flex;
  grid-row: span 2;
}

.player img {
  height: var(--dimen-player-cover);
  width: var(--dimen-player-cover);
  object-fit: cover;
}

.player .controls {
  display: flex;
  gap: 8px;
  margin-right: auto;
}

.player svg {
  fill: var(--color-accent);
  cursor: pointer;
}

.player svg:hover {
  opacity: 0.8;
}

.player .info {
  flex: auto;
  max-width: calc(50% - var(--dimen-player-cover));
}

.player .info p:nth-of-type(1) {
  margin-bottom: 3px;
}

.player .info .title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.player .info .author {
  font-size: var(--dimen-font-smallest);
  font-weight: 300;
}

.desktopControls {
  display: flex;
  gap: 16px;
}

.volumeControl {
  display: flex;
  gap: 8px;
}

.volumeControl input {
  display: none;
  cursor: pointer;
}

.volumeControl:hover input {
  display: block;
}

@keyframes loading {
  0% {
    background-color: var(--color-animation-frame-1);
  }
  50% {
    background-color: var(--color-animation-frame-2);
  }
  100% {
    background-color: var(--color-animation-frame-3);
  }
}

.seekbarContainer {
  --dimen-seekbar-offset: var(--dimen-player-cover);
  --dimen-seekbar-width: calc(100% - var(--dimen-player-cover));
  background: var(--color-background-light);
  position: absolute;
  top: 0;
  left: var(--dimen-seekbar-offset);
  height: 6px;
  width: var(--dimen-seekbar-width);
  transition: height 0.3s ease;
}

.seekbarContainer:hover {
  height: 8px;
}

.seekbar {
  height: 100%;
  background-color: var(--color-accent);
  transition: width 1s;
}

.playbackRate {
  font-weight: bold;
  font-size: var(--dimen-font-regular);
  color: var(--color-accent);
  width: 40px;
  justify-content: center;
}

.playbackRate code {
  font-size: var(--dimen-font-secondary);
  letter-spacing: -0.5px;
  font-weight: 400;
}

.seekbar[data-is-buffering='true'] {
  animation: loading 2s infinite;
  width: 100%;
}

.duration {
  display: flex;
  font-size: var(--dimen-font-smallest);
  padding: 15px 15px 0;
  color: var(--color-accent-gray);
}

.duration span:last-of-type {
  margin-left: auto;
}

.controlInfoGroup {
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex: 1;
  padding: 0 15px 10px;
}

.controlInfoGroup button {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .desktopControls,
  .player .controls button:not([data-primary-control]) {
    display: none;
  }

  .player .info {
    max-width: none;
  }

  .player .controlInfoGroup {
    column-gap: 5px;
    padding-bottom: 5px;
  }

  .player .info .title {
    font-size: var(--dimen-font-regular);
  }

  .seekbarContainer {
    --dimen-seekbar-offset: 0;
    --dimen-seekbar-width: 100%;
  }
}
