.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container > div,
.container > ul,
.container > a {
  padding: 32px;
  width: 100%;
}

.container > ul {
  margin: 0;
}

.container > div:nth-child(even),
.container > ul:nth-child(even),
.container > a:nth-child(even) {
  background-color: var(--surface3);
}

.container > div:nth-child(odd),
.container > ul:nth-child(odd),
.container > a:nth-child(odd) {
  background-color: var(--surface4);
}

.container.export {
  justify-content: center;
}

.container.export button {
  min-width: 200px;
}

form.container > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

form.container > div,
form.container > div > * {
  cursor: pointer;
}

form.container label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.shortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shortcut kbd {
  font-weight: bold;
  border-radius: 6px;
  border-top: 1px solid;
  border-width: 1px 1px 3px;
  padding: 2px 8px;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .container > div,
  .container > ul,
  .container > a {
    padding: 32px 16px;
  }
}
